---
import ContentLayout from '@/layouts/ContentLayout.astro'
import ContentImage from '@/components/ContentImage.astro'
import contentImage from '@/assets/images/PRESS_KIT_SASEMOI_PORTRAIT.jpg'
import ContentBlock from '@/components/ContentBlock.astro'
---

<ContentLayout title="About">
  <ContentBlock>
    <h1>More about me</h1>

    <p>
      Hi there, so nice you've found your way here. I will add more info about myself soon. For now, keep exploring the
      hidden pages of my website. ;)
    </p>
  </ContentBlock>
  <ContentImage
    className="max-h-3/4"
    variant="left"
    image={{ variant: 'landscape', src: contentImage, alt: 'Reinald portrait' }}
  />
</ContentLayout>
