@import 'tailwindcss';
@import 'lenis/dist/lenis.css';
@import './fonts/font-faces.css';
@import './typography/typography.css';

@theme {
  --color-white: #e2e2e2;
  --color-black: #0d0d0d;
  --color-yellow: #ffe66d;
  --color-green: #70a37f;
  --color-red: #d64045;

  --color-cream: #fdf0ca;

  --color-lime: #c6f91f;
  --color-orange: #ff7700;

  /* DIFF Colors */
  --color-yellow-dif: #3645d9;
  --color-green-dif: #3645d9;
  --color-red-dif: #3645d9;
}

html,
body {
  font-family: var(--font-dm-sans);
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  color: var(--color-white);
  overflow-x: hidden;
}

body {
  padding: 0 2rem;
}
