---
import type { HTMLAttributes } from 'astro/types'
import { twMerge } from 'tailwind-merge'
import Section from './Section.astro'
import OrientationPicture from './OrientationPicture.astro'
import type { ImageData } from '@/types/image'

interface Props extends HTMLAttributes<'section'> {
  className?: string
  variant: 'left' | 'right'
  caption?: string
  image: ImageData
}

const variantClasses = {
  left: {
    content: 'col-span-6 lg:col-span-3 3xl:col-span-2',
    image: 'col-span-6 lg:col-span-9 2xl:col-span-11 3xl:col-span-12',
  },
  right: {
    content:
      'col-span-6 lg:col-start-1 lg:row-start-1 lg:col-span-3 2xl:col-span-3 3xl:col-start-3 3xl:col-span-2 lg:text-end',
    image: 'col-span-6 lg:col-start-4 lg:col-span-9 2xl:col-span-11 3xl:col-span-12',
  },
}

const { className, image, variant, ...rest } = Astro.props

const variantClass = variantClasses[variant]

const contentWrapperClasses = twMerge('content-wrapper px-4 max-lg:text-end', variantClasses[variant].content)
const imageWrapperClasses = twMerge('', variantClasses[variant].image)

const classes = twMerge('content-margins-t', className)
---

<Section class={classes} {...rest}>
  <div class={imageWrapperClasses}>
    <OrientationPicture {...image} />
  </div>
  <div class={contentWrapperClasses}>
    <slot />
  </div>
</Section>
