---
import CosmosLoader from './CosmosLoader.astro'
---

<!-- Credit: https://dribbble.com/shots/5092176-Newton-Loader -->
<div class="loading-bg is-loading bg-black fixed inset-0 z-50">
  <CosmosLoader class="w-[80px] h-[80px] 3xl:w-[120px] 3xl:h-[120px]" />
  <p class="loading-text"><span>Loading </span><span class="loading-percentage">0</span>%</p>
</div>

<style>
  @reference @/styles/global.css;

  .loading-bg {
    background: var(--color-black);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .loading-bg.is-loading {
    display: flex;
  }

  .loading-text {
    position: relative;
    /* top: 45%; */
    width: 142px;
    text-align: center;
    /* margin: -20px 0 0 71px; */

    /* left: 50%; */
  }

  .gooey {
    position: relative;
    /* top: 50%; */
    /* left: 50%; */
    width: 142px;
    height: 40px;
    /* margin: -20px 0 0 -71px; */
    background: var(--color-black);
    filter: contrast(1);
  }

  .gooey .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(0.4px);
    background: var(--color-white);
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
  }

  .gooey .dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
  }

  .gooey .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(0.4px);
    background: var(--color-white);
    border-radius: 50%;
  }

  @keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  @keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
</style>
