---
import type { HTMLAttributes } from 'astro/types'
import { twMerge } from 'tailwind-merge'
import Section from './Section.astro'

interface Props extends HTMLAttributes<'section'> {
  className?: string
}

const { class: className, ...rest } = Astro.props

const gridClass = 'main-grid-layout px-2 lg:px-8'
const classes = twMerge(gridClass, className)
---

<section class={classes} {...rest}>
  <slot />
</section>

<style lang="scss">
  section {
    h1 {
      /* font-size: var(--text-8xl); */
      // text-transform: uppercase;
      // font-weight: var(--font-weight-light);
      // margin-bottom: calc(var(--spacing) * 8);
      font-size: 8rem;
    }
  }
</style>
