<div class="content-side-a col-start-1 col-span-4 md:col-span-6 lg:col-span-6 row-start-1 row-span-10 lg:row-span-20">
  <slot />
</div>

<style>
  .content-side-a {
    /* height: 100%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
</style>
