<button class="scroll-icon-container">
  <canvas id="dotlottie-scroll-canvas" style="width: 40px; height: 40px;"></canvas>

  <p class="text-xs font-extralight">Scroll or click here</p>
</button>

<script>
  import { DotLottie } from '@lottiefiles/dotlottie-web'

  document.addEventListener('DOMContentLoaded', () => {
    const dotLottie = new DotLottie({
      autoplay: true,
      loop: true,
      canvas: document.querySelector('#dotlottie-scroll-canvas'),
      src: 'https://lottie.host/16fe0e98-dc77-4d7f-899b-76f22c1ba388/NMbDjwWenO.lottie', // replace with your .lottie or .json file URL
    })
  })
</script>

<style>
  .scroll-icon-container {
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 40px;
    height: 40px; */
    top: calc(100% - 80px);
    left: calc(50% - 20px);
  }
</style>
