---
const { className, ...rest } = Astro.props
---

<section class={'px-6 grid grid-cols-4 md:grid-cols-6 lg:grid-cols-12' + ' ' + className} {...rest}>
  <slot />
</section>

<style>
  section {
    z-index: 1;
  }
</style>
