---
import type { HTMLAttributes } from 'astro/types'
import { twMerge } from 'tailwind-merge'

interface Props extends HTMLAttributes<'section'> {
  className?: string
}

const { class: className, ...rest } = Astro.props

const classes = twMerge('.main-grid-layout', className)
---

<section class={classes} {...rest}>
  <slot />
</section>
