---
const { className, ...rest } = Astro.props
---

<section class={className + ' grid grid-cols-4 md:grid-cols-6 lg:grid-cols-12'} {...rest}>
  <slot />
</section>

<style>
  section {
    position: relative;
    /* min-height: 100vh; */
    padding: 24px;
    z-index: 1;
  }
</style>
