---
import { Icon } from 'astro-icon/components'

const icons = ['html5', 'css3', 'javascript', 'react', 'threejs']
---

<div id="tech-stack-icons" class="h-20 flex gap-4">
  {icons.map((icon) => <Icon name={icon} class="tech-icon w-10 h-10" />)}
</div>
