/* Tailwind colors theme */
@theme {
  --color-white: #d4d4d4;
  --color-black: #0d0d0d;
  --color-yellow: #ffe66d;
  --color-green: #70a37f;
  --color-red: #d64045;

  /* Additional colors */
  --color-salmon: #c18383;
  --color-columbia: #00916e;
  --color-jungle: #419d78;
  --color-caput: #55251d;
  --color-nyanza: #c8ead3;
  --color-munsell: #258ea6;

  --color-cream: #f3f9d2;

  --color-lime: #c6f91f;
  --color-orange: #ff7700;

  /* DIFF Colors */
  --color-yellow-dif: #3645d9;
  --color-green-dif: #3645d9;
  --color-red-dif: #3645d9;
}
