---
import Footer from '@/components/Footer.astro'
import NavMenu from '@/components/NavMenu.astro'
import '@/styles/global.css'

type Props = {
  title: string
}

const { title } = Astro.props

const navLinks = [
  { text: 'contact', active: false, href: '#contact' },
  { text: 'work', active: false, href: '/projects' },
  { text: 'about', active: false, href: '/' },
]
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Reinald Van Praet</title>
  </head>
  <body class="bg-black">
    <NavMenu links={navLinks} />
    <main class="relative z-10">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script>
  import Lenis from 'lenis'

  // Initialize Lenis
  const lenis = new Lenis({
    duration: 0.3,
    autoRaf: true,
  })
</script>
