---
import NavMenu from '@/components/NavMenu.astro'
import '@/styles/global.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="bg-black">
    <NavMenu />
    <main class="relative z-10">
      <slot />
    </main>
    <!-- Footer -->
  </body>
</html>

<script>
  import Lenis from 'lenis'

  // Initialize Lenis
  const lenis = new Lenis({
    duration: 0.3,
    autoRaf: true,
  })

  // Listen for the scroll event and log the event data
  lenis.on('scroll', (e) => {
    console.log(e)
  })
</script>
