---
import '@/styles/global.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  import Lenis from 'lenis'

  document.addEventListener('DOMContentLoaded', () => {
    const lenis = new Lenis({
      lerp: 1,
    })

    window.lenis = lenis
    lenis.scrollTo(document.documentElement, {
      duration: 0,
      lock: true,
      force: true,
    })

    function raf(time: any) {
      window.lenis.raf(time)
      requestAnimationFrame(raf)
    }

    requestAnimationFrame(raf)

    // setTimeout(() => {
    //   console.log('new lerp for lenis :::: ')
    //   lenis.options.lerp = 0.01
    // }, 4000)

    // document.addEventListener('update-lenis', (e: CustomEvent) => {
    //   const { options: newOptions } = e.detail
    //   console.log('received new options for lenis :::: ', newOptions)

    //   const { options: oldOptions } = lenis

    //   lenis.options = { ...oldOptions, ...newOptions }
    // })
  })
</script>
