---
import Footer from '@/components/Footer.astro'
import NavMenu from '@/components/NavMenu.astro'
import '@/styles/global.css'

const links = [
  { text: 'about', active: false, href: '#about' },
  { text: 'work', active: false, href: '#work' },
  { text: 'contact', active: false, href: '#contact' },
]
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Home - Reinald Van Praet</title>
  </head>
  <body class="is-loading bg-black">
    <NavMenu links={links} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>f
</html>

<style is:global>
  .body .introduction-dummy {
    border: 3px solid red;
  }
</style>
